@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: height .2s, width .2s, font-size .2s;
}

a {
  text-decoration: none;
  color: unset;
}

html, body {
  height: 100%;
}


h1, h2, p {
  font-family: 'Inter', sans-serif;
  color: #f0f0f0;
}

h1 {
  font-size: 42px;
  font-weight: 900;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 900px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 20px;
  }

  h1, h2 {
    margin: 16px;
  }
}
